.feedbackButton {
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  top: 45%;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  z-index: 999;
}

@import '~antd/dist/antd.css';
